 
<h3>Nova post: </h3>
<div class="card">
  <div class="card-body">
    <form action="/admin/categoria/nova" method="post">
        <div class="mb-3">
            <label for="title">title</label>
            <input type="text" class="form-control" name="title" placeholder="title">
        </div>

        <br />
        <button type="submit" class="btn btn-success">Create new post</button>
    </form>
  </div>
</div>