<div class="container">
  <div class="d-flex justify-content">
    <h3 class="text-center mb-3">New post:</h3>

    <form action="/new" method="POST" class="w-50">
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" name="category">
          {{#each categories}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>

      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" name="author" placeholder="Author">
      </div>
      <div class="form-group">

        <input type="hidden" class="form-control" name="id" placeholder="ID">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" class="form-control h-100" name="content" placeholder="Content"></textarea>
      </div>
      <button type="submit" class="btn btn-success w-100 mt-3">Create new post</button>
    </form>
  </div>
</div>