<div style="display: flex; flex-wrap: wrap;">
  {{#each posts}}
    <div style="width: 30%; padding: 2%;">
      <h2>{{title}}</h2>
      <p>{{content}}</p>

      <form action="/editpost/{{id}}" method="get">
        <button class="btn btn-sm btn-warning">Edit</button>
      </form>
      <form action="/delpost/{{id}}" method="delete">
        <button class="btn btn-sm btn-danger">Delete</button>
      </form>
    </div>
  {{/each}}
</div>

