<!DOCTYPE html>
<html lang="en">

  <body>


    <div class="container-fluid">
      <h2>User Profile</h2>
      <img src="/images/profile.png" />
      <h3>Username : {{user.username}}</h3>
      <h3>Email : {{user.email}}</h3>
          <a href="/logout">
      <button class="btn btn-success">Logout</button>
    </a>
    </div>
  </body>
</html>